In [1]:
import numpy as np #Numpy for array Calculation
import pandas as pd #Pandas for importing data

from keras.models import Model, Sequential #Model
from keras.optimizers import SGD, Adam, RMSprop #Optimizer
from keras.layers import Input, Dense, Dropout, Flatten, Lambda, Embedding #Hidden Layers
from keras.initializers import RandomNormal, Constant #Random Weight Initializers
from keras import backend as K #Keras 
import tensorflow as tf #Tensorflow

from sklearn.preprocessing import StandardScaler #Standardization
from sklearn.model_selection import train_test_split #Train,Test,Split
from sklearn.metrics import mean_squared_error #Evaluation metrics

from math import sqrt #Math module for rmse calculation (i.e sqrt(mse))

import warnings #To Ignore warnings which is annoying in notebook
warnings.filterwarnings('ignore')

In [2]:
#Loading Train,Test,Store data
train = pd.read_csv(r'E:\Documents\University Assignments\NN and DL\Group Project\train.csv')
test = pd.read_csv(r'E:\Documents\University Assignments\NN and DL\Group Project\test.csv')
store = pd.read_csv(r'E:\Documents\University Assignments\NN and DL\Group Project\store.csv')

#Creating new sales variable in test so later I can seprate train and test after concatenation
test['Sales'] = -1

#Concatenating both train and test so we can analyse and pre-process booth at once
full = pd.concat([train, test]).reset_index(drop=True)

# Merging store and preprocessing data

In [3]:
#Merge left because when tried with inner merge we were losing data which are not common and getting less accuracy in kaggle
#so left merging was used to get extra information about stores
full = full.merge(store, on=['Store'], how='left')

In [4]:
full.dtypes

Store                          int64
DayOfWeek                      int64
Date                          object
Sales                          int64
Customers                    float64
Open                         float64
Promo                          int64
StateHoliday                  object
SchoolHoliday                  int64
Id                           float64
StoreType                     object
Assortment                    object
CompetitionDistance          float64
CompetitionOpenSinceMonth    float64
CompetitionOpenSinceYear     float64
Promo2                         int64
Promo2SinceWeek              float64
Promo2SinceYear              float64
PromoInterval                 object
dtype: object

In [5]:
full['Date'].head(2)

0    2015-07-31
1    2015-07-31
Name: Date, dtype: object

In [6]:
#Creating year,month,day,week attribute from date variable
full['Year'] = pd.DatetimeIndex(full['Date']).year
full['Month'] = pd.DatetimeIndex(full['Date']).month
full['Day'] = pd.DatetimeIndex(full['Date']).day
full['WeekOfYear'] = pd.DatetimeIndex(full['Date']).weekofyear

In [7]:
full.head(2)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Id,...,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Year,Month,Day,WeekOfYear
0,1,5,2015-07-31,5263,555.0,1.0,1,0,1,NaN,...,9.0,2008.0,0,NaN,NaN,NaN,2015,7,31,31
1,2,5,2015-07-31,6064,625.0,1.0,1,0,1,NaN,...,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",2015,7,31,31

In [8]:
#From unique we can see all other categorical varibles can be handled by one-hot encoding except PROMOINTERVAL
# So lets handle and clean that data first.

full['StateHoliday'].unique(),full['StoreType'].unique(),full['Assortment'].unique(),full['PromoInterval'].unique()

(array(['0', 'a', 'b', 'c', 0], dtype=object),
 array(['c', 'a', 'd', 'b'], dtype=object),
 array(['a', 'c', 'b'], dtype=object),
 array([nan, 'Jan,Apr,Jul,Oct', 'Feb,May,Aug,Nov', 'Mar,Jun,Sept,Dec'],
       dtype=object))

In [9]:
# Converting month to new column called month_string because from this we can deduce which month promo interval is there
# because string can be compared to promointerval. either conver promo interval to number and compare it to month float or convert 
# float month to string to compare it to promointerval
month_string = {1:'Jan', 2:'Feb', 3:'Mar', 4:'Apr', 5:'May', 6:'Jun',7:'Jul', 8:'Aug', 9:'Sept', 10:'Oct', 11:'Nov', 12:'Dec'}
full['month_string'] = full.Month.map(month_string) 
#I use .map function it is old python 2 version but does the job to compete with other essex uni students and get results:).

# create variable ispromo and make all 0,later add 1 flag so by comparing it both. 
full['IsPromoMonth'] = 0

# creating for loop of only unique promointerval which is 4 and compare the split month of promo interval
# with month_string to get the flag 
for i in full.PromoInterval.unique():
    i = str(i)
    if i != '':
        for month in i.split(','):
            full.loc[(full.month_string == month) & (full.PromoInterval == i), 'IsPromoMonth'] = 1

In [10]:
#Now if you see month_string which is in promointerval will be flagged as 1 else 0
full.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Id,...,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Year,Month,Day,WeekOfYear,month_string,IsPromoMonth
0,1,5,2015-07-31,5263,555.0,1.0,1,0,1,NaN,...,0,NaN,NaN,NaN,2015,7,31,31,Jul,0
1,2,5,2015-07-31,6064,625.0,1.0,1,0,1,NaN,...,1,13.0,2010.0,"Jan,Apr,Jul,Oct",2015,7,31,31,Jul,1
2,3,5,2015-07-31,8314,821.0,1.0,1,0,1,NaN,...,1,14.0,2011.0,"Jan,Apr,Jul,Oct",2015,7,31,31,Jul,1
3,4,5,2015-07-31,13995,1498.0,1.0,1,0,1,NaN,...,0,NaN,NaN,NaN,2015,7,31,31,Jul,0
4,5,5,2015-07-31,4822,559.0,1.0,1,0,1,NaN,...,0,NaN,NaN,NaN,2015,7,31,31,Jul,0

In [11]:
#Get missing value % for all data(train+test).
for i in full.columns:
    if full[i].isnull().sum()/full.shape[0]*100 > 0:
        print('The Missing Values of Columns ',i,' is:- ',full[i].isnull().sum()/full[i].shape[0]*100)

The Missing Values of Columns  Customers  is:-  3.8824639964017664
The Missing Values of Columns  Open  is:-  0.0010394057622765632
The Missing Values of Columns  Id  is:-  96.11753600359823
The Missing Values of Columns  CompetitionDistance  is:-  0.25871754337393
The Missing Values of Columns  CompetitionOpenSinceMonth  is:-  31.991397499945666
The Missing Values of Columns  CompetitionOpenSinceYear  is:-  31.991397499945666
The Missing Values of Columns  Promo2SinceWeek  is:-  49.632853537334036
The Missing Values of Columns  Promo2SinceYear  is:-  49.632853537334036
The Missing Values of Columns  PromoInterval  is:-  49.632853537334036

In [12]:
full.dtypes

Store                          int64
DayOfWeek                      int64
Date                          object
Sales                          int64
Customers                    float64
Open                         float64
Promo                          int64
StateHoliday                  object
SchoolHoliday                  int64
Id                           float64
StoreType                     object
Assortment                    object
CompetitionDistance          float64
CompetitionOpenSinceMonth    float64
CompetitionOpenSinceYear     float64
Promo2                         int64
Promo2SinceWeek              float64
Promo2SinceYear              float64
PromoInterval                 object
Year                           int64
Month                          int64
Day                            int64
WeekOfYear                     int64
month_string                  object
IsPromoMonth                   int64
dtype: object

In [13]:
#Making seprate columns for Numerical Variable and categorical variable

#Numeric variable columns
cols_num = ["Sales", "DayOfWeek", "Open", "Promo", "SchoolHoliday", "CompetitionDistance",
                "CompetitionOpenSinceMonth", "CompetitionOpenSinceYear", "Promo2",
                "Promo2SinceWeek", "Promo2SinceYear", "Year", "Month", "Day",
                "IsPromoMonth", "Store"]

#categorical variable columns
cols_text = ["StateHoliday", "StoreType", "Assortment"]

In [14]:
#making numeric DataFrame
full_numeric = full[cols_num]

In [15]:
# Only column CompetitionDistance is fill NaN with a median value because it has less than 30% null values.
full_numeric['CompetitionDistance'].fillna(full_numeric['CompetitionDistance'].median(), inplace = True)

#Fill rest null value with 0 because all other variables has more than 30% null values.
full_numeric.fillna(0, inplace = True)

In [16]:
#cross Checking if any variables has null values
full_numeric.isnull().sum()

Sales                        0
DayOfWeek                    0
Open                         0
Promo                        0
SchoolHoliday                0
CompetitionDistance          0
CompetitionOpenSinceMonth    0
CompetitionOpenSinceYear     0
Promo2                       0
Promo2SinceWeek              0
Promo2SinceYear              0
Year                         0
Month                        0
Day                          0
IsPromoMonth                 0
Store                        0
dtype: int64

In [17]:
full_numeric.head()

,Sales,DayOfWeek,Open,Promo,SchoolHoliday,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,Year,Month,Day,IsPromoMonth,Store
0,5263,5,1.0,1,1,1270.0,9.0,2008.0,0,0.0,0.0,2015,7,31,0,1
1,6064,5,1.0,1,1,570.0,11.0,2007.0,1,13.0,2010.0,2015,7,31,1,2
2,8314,5,1.0,1,1,14130.0,12.0,2006.0,1,14.0,2011.0,2015,7,31,1,3
3,13995,5,1.0,1,1,620.0,9.0,2009.0,0,0.0,0.0,2015,7,31,0,4
4,4822,5,1.0,1,1,29910.0,4.0,2015.0,0,0.0,0.0,2015,7,31,0,5

In [18]:
#creating/assigning categirical DataFrame
full_categorical = full[cols_text]

#Convert categorical to numerical using one-hot encoding
full_categorical = pd.get_dummies(full_categorical, dummy_na=False)

In [19]:
full_categorical.head()

,StateHoliday_0,StateHoliday_0,StateHoliday_a,StateHoliday_b,StateHoliday_c,StoreType_a,StoreType_b,StoreType_c,StoreType_d,Assortment_a,Assortment_b,Assortment_c
0,0,1,0,0,0,0,0,1,0,1,0,0
1,0,1,0,0,0,1,0,0,0,1,0,0
2,0,1,0,0,0,1,0,0,0,1,0,0
3,0,1,0,0,0,0,0,1,0,0,0,1
4,0,1,0,0,0,1,0,0,0,1,0,0

In [20]:
full_categorical.isnull().sum()

StateHoliday_0    0
StateHoliday_0    0
StateHoliday_a    0
StateHoliday_b    0
StateHoliday_c    0
StoreType_a       0
StoreType_b       0
StoreType_c       0
StoreType_d       0
Assortment_a      0
Assortment_b      0
Assortment_c      0
dtype: int64

In [21]:
#concatinating final data
full = pd.concat([full_numeric, full_categorical], axis = 1)

In [22]:
full.head()

,Sales,DayOfWeek,Open,Promo,SchoolHoliday,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,...,StateHoliday_a,StateHoliday_b,StateHoliday_c,StoreType_a,StoreType_b,StoreType_c,StoreType_d,Assortment_a,Assortment_b,Assortment_c
0,5263,5,1.0,1,1,1270.0,9.0,2008.0,0,0.0,...,0,0,0,0,0,1,0,1,0,0
1,6064,5,1.0,1,1,570.0,11.0,2007.0,1,13.0,...,0,0,0,1,0,0,0,1,0,0
2,8314,5,1.0,1,1,14130.0,12.0,2006.0,1,14.0,...,0,0,0,1,0,0,0,1,0,0
3,13995,5,1.0,1,1,620.0,9.0,2009.0,0,0.0,...,0,0,0,0,0,1,0,0,0,1
4,4822,5,1.0,1,1,29910.0,4.0,2015.0,0,0.0,...,0,0,0,1,0,0,0,1,0,0

In [23]:
#Split concatenated data into train and test again (This could be done by using -1 flag which I did for train[sales])
full_train = full.loc[full['Sales'] != -1]
full_test = full.loc[full['Sales'] == -1]

In [24]:
full_train.head()

,Sales,DayOfWeek,Open,Promo,SchoolHoliday,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,...,StateHoliday_a,StateHoliday_b,StateHoliday_c,StoreType_a,StoreType_b,StoreType_c,StoreType_d,Assortment_a,Assortment_b,Assortment_c
0,5263,5,1.0,1,1,1270.0,9.0,2008.0,0,0.0,...,0,0,0,0,0,1,0,1,0,0
1,6064,5,1.0,1,1,570.0,11.0,2007.0,1,13.0,...,0,0,0,1,0,0,0,1,0,0
2,8314,5,1.0,1,1,14130.0,12.0,2006.0,1,14.0,...,0,0,0,1,0,0,0,1,0,0
3,13995,5,1.0,1,1,620.0,9.0,2009.0,0,0.0,...,0,0,0,0,0,1,0,0,0,1
4,4822,5,1.0,1,1,29910.0,4.0,2015.0,0,0.0,...,0,0,0,1,0,0,0,1,0,0

In [25]:
full_train.shape

(1017209, 28)

In [26]:
full_test.head()

,Sales,DayOfWeek,Open,Promo,SchoolHoliday,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,...,StateHoliday_a,StateHoliday_b,StateHoliday_c,StoreType_a,StoreType_b,StoreType_c,StoreType_d,Assortment_a,Assortment_b,Assortment_c
1017209,-1,4,1.0,1,0,1270.0,9.0,2008.0,0,0.0,...,0,0,0,0,0,1,0,1,0,0
1017210,-1,4,1.0,1,0,14130.0,12.0,2006.0,1,14.0,...,0,0,0,1,0,0,0,1,0,0
1017211,-1,4,1.0,1,0,24000.0,4.0,2013.0,0,0.0,...,0,0,0,1,0,0,0,0,0,1
1017212,-1,4,1.0,1,0,7520.0,10.0,2014.0,0,0.0,...,0,0,0,1,0,0,0,1,0,0
1017213,-1,4,1.0,1,0,2030.0,8.0,2000.0,0,0.0,...,0,0,0,1,0,0,0,0,0,1

In [27]:
full_test.shape

(41088, 28)

# Model Building

In [28]:
#Function to split the data into 80%-Train 20%test (not manuall split) - using sklearn model selection to split 
def load_train_data(scaler_x, scaler_y):

    X_train = train.drop(["Sales"], axis=1) #Independent Variable
    y_train = np.array(train["Sales"]).reshape((len(X_train), 1)) # Depedendent Variable 
    
    #Using scaler Transform 
    X_train = scaler_x.fit_transform(X_train)
    y_train = scaler_y.fit_transform(y_train) 
    
    #Splitting data into 80% Train and 20% Test
    X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.20, random_state=42)

    return (X_train, y_train), (X_test, y_test)

In [29]:
#Creating fucntion to load test data for predicition
def load_test_data():
    
    X_test = test.drop(["Sales"], axis=1) # Dependent variable
    X_test = StandardScaler().fit_transform(X_test)

    return X_test

In [30]:
#Create Function for root mean square percentage error
def rmspe_val(y_true, y_pred):
    return np.sqrt(np.mean(np.square((y_true - y_pred) / y_true), axis=0))[0]

def rmspe(y_true, y_pred):
    return K.sqrt(K.mean(K.square((y_true - y_pred) / y_true), axis=0))

def rmse(y_true, y_pred):
    return K.sqrt(K.mean(K.square(y_pred - y_true)))

In [31]:
#Create function to build model
def create_model():
    initializer = RandomNormal(mean=0.0, stddev=0.05, seed=None)

    model = Sequential()
    model.add(Dense(512, input_dim=X_train.shape[1], activation="relu", kernel_initializer=initializer))
    model.add(Dropout(0.4))
    model.add(Dense(512, input_dim=X_train.shape[1], activation="relu", kernel_initializer=initializer))
    model.add(Dropout(0.4))
    model.add(Dense(512, input_dim=X_train.shape[1], activation="relu", kernel_initializer=initializer))
    model.add(Dropout(0.4))
    model.add(Dense(1, activation="linear", kernel_initializer=initializer))
    adam = Adam(lr=1e-3, decay=1e-3)

    # Compile model
    model.compile(loss="mean_squared_error", optimizer=adam, metrics=[rmse, rmspe])

    return model

In [32]:
train, test = full_train, full_test

In [33]:
# Hyperparameters and load data to train the model
batch_size = 512 #Number of batch (i.e how many row at a time)
nb_epoch = 50 #Number of epoches (i.e Iteration)

scaler_x = StandardScaler() #Standardization
scaler_y = StandardScaler()

(X_train, y_train), (X_test, y_test) = load_train_data(scaler_x, scaler_y) #Loading Standardization train,test data

model = create_model()
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 512)               14336

 dropout (Dropout)           (None, 512)               0

 dense_1 (Dense)             (None, 512)               262656

 dropout_1 (Dropout)         (None, 512)               0

 dense_2 (Dense)             (None, 512)               262656

 dropout_2 (Dropout)         (None, 512)               0

 dense_3 (Dense)             (None, 1)                 513

=================================================================
Total params: 540,161
Trainable params: 540,161
Non-trainable params: 0
_________________________________________________________________

In [34]:
#Fitting Train data to model
log = model.fit(X_train, y_train, validation_split=0.20, batch_size=batch_size, epochs=nb_epoch, shuffle=True)

Epoch 1/50
1272/1272 [==============================] - 62s 46ms/step - loss: 0.3991 - rmse: 0.6300 - rmspe: 40.3468 - val_loss: 0.3979 - val_rmse: 0.6295 - val_rmspe: 26.9421
Epoch 2/50
1272/1272 [==============================] - 60s 47ms/step - loss: 0.3460 - rmse: 0.5870 - rmspe: 39.3734 - val_loss: 0.3589 - val_rmse: 0.5980 - val_rmspe: 28.3186
Epoch 3/50
1272/1272 [==============================] - 59s 47ms/step - loss: 0.3107 - rmse: 0.5562 - rmspe: 35.8370 - val_loss: 0.3412 - val_rmse: 0.5831 - val_rmspe: 24.7174
Epoch 4/50
1272/1272 [==============================] - 58s 45ms/step - loss: 0.2882 - rmse: 0.5359 - rmspe: 36.1135 - val_loss: 0.3309 - val_rmse: 0.5744 - val_rmspe: 24.5838
Epoch 5/50
1272/1272 [==============================] - 59s 46ms/step - loss: 0.2692 - rmse: 0.5180 - rmspe: 35.4796 - val_loss: 0.3097 - val_rmse: 0.5557 - val_rmspe: 23.4196
Epoch 6/50
1272/1272 [==============================] - 61s 48ms/step - loss: 0.2529 - rmse: 0.5020 - rmspe: 34.0921 - val_loss: 0.2895 - val_rmse: 0.5373 - val_rmspe: 23.3466
Epoch 7/50
1272/1272 [==============================] - 58s 46ms/step - loss: 0.2410 - rmse: 0.4901 - rmspe: 35.6426 - val_loss: 0.2715 - val_rmse: 0.5204 - val_rmspe: 23.8401
Epoch 8/50
1272/1272 [==============================] - 58s 46ms/step - loss: 0.2315 - rmse: 0.4804 - rmspe: 33.2937 - val_loss: 0.2736 - val_rmse: 0.5224 - val_rmspe: 23.3401
Epoch 9/50
1272/1272 [==============================] - 58s 46ms/step - loss: 0.2230 - rmse: 0.4715 - rmspe: 35.4197 - val_loss: 0.2556 - val_rmse: 0.5049 - val_rmspe: 22.8326
Epoch 10/50
1272/1272 [==============================] - 61s 48ms/step - loss: 0.2158 - rmse: 0.4639 - rmspe: 35.2462 - val_loss: 0.2494 - val_rmse: 0.4988 - val_rmspe: 23.7973
Epoch 11/50
1272/1272 [==============================] - 60s 47ms/step - loss: 0.2095 - rmse: 0.4570 - rmspe: 33.3871 - val_loss: 0.2394 - val_rmse: 0.4887 - val_rmspe: 22.9689
Epoch 12/50
1272/1272 [==============================] - 60s 47ms/step - loss: 0.2049 - rmse: 0.4519 - rmspe: 32.6372 - val_loss: 0.2325 - val_rmse: 0.4816 - val_rmspe: 23.5092
Epoch 13/50
1272/1272 [==============================] - 62s 48ms/step - loss: 0.1999 - rmse: 0.4464 - rmspe: 32.8365 - val_loss: 0.2273 - val_rmse: 0.4762 - val_rmspe: 22.6290
Epoch 14/50
1272/1272 [==============================] - 57s 45ms/step - loss: 0.1964 - rmse: 0.4425 - rmspe: 30.5543 - val_loss: 0.2179 - val_rmse: 0.4663 - val_rmspe: 22.6334
Epoch 15/50
1272/1272 [==============================] - 57s 45ms/step - loss: 0.1928 - rmse: 0.4384 - rmspe: 33.7961 - val_loss: 0.2160 - val_rmse: 0.4642 - val_rmspe: 22.8678
Epoch 16/50
1272/1272 [==============================] - 57s 45ms/step - loss: 0.1894 - rmse: 0.4346 - rmspe: 32.4481 - val_loss: 0.2072 - val_rmse: 0.4546 - val_rmspe: 23.0346
Epoch 17/50
1272/1272 [==============================] - 61s 48ms/step - loss: 0.1862 - rmse: 0.4309 - rmspe: 33.4162 - val_loss: 0.2048 - val_rmse: 0.4520 - val_rmspe: 22.0774
Epoch 18/50
1272/1272 [==============================] - 59s 46ms/step - loss: 0.1845 - rmse: 0.4290 - rmspe: 30.8649 - val_loss: 0.2039 - val_rmse: 0.4510 - val_rmspe: 22.4585
Epoch 19/50
1272/1272 [==============================] - 59s 46ms/step - loss: 0.1817 - rmse: 0.4256 - rmspe: 31.8441 - val_loss: 0.2009 - val_rmse: 0.4477 - val_rmspe: 22.3219
Epoch 20/50
1272/1272 [==============================] - 60s 48ms/step - loss: 0.1798 - rmse: 0.4234 - rmspe: 31.1605 - val_loss: 0.1987 - val_rmse: 0.4452 - val_rmspe: 22.0155
Epoch 21/50
1272/1272 [==============================] - 59s 47ms/step - loss: 0.1774 - rmse: 0.4206 - rmspe: 33.4410 - val_loss: 0.1929 - val_rmse: 0.4387 - val_rmspe: 21.4172
Epoch 22/50
1272/1272 [==============================] - 60s 47ms/step - loss: 0.1759 - rmse: 0.4188 - rmspe: 32.0945 - val_loss: 0.1909 - val_rmse: 0.4364 - val_rmspe: 21.2035
Epoch 23/50
1272/1272 [==============================] - 59s 47ms/step - loss: 0.1736 - rmse: 0.4161 - rmspe: 31.5083 - val_loss: 0.1883 - val_rmse: 0.4334 - val_rmspe: 21.1433
Epoch 24/50
1272/1272 [==============================] - 61s 48ms/step - loss: 0.1723 - rmse: 0.4144 - rmspe: 32.6645 - val_loss: 0.1867 - val_rmse: 0.4315 - val_rmspe: 21.0637
Epoch 25/50
1272/1272 [==============================] - 58s 46ms/step - loss: 0.1710 - rmse: 0.4130 - rmspe: 31.1121 - val_loss: 0.1832 - val_rmse: 0.4275 - val_rmspe: 21.0372
Epoch 26/50
1272/1272 [==============================] - 58s 46ms/step - loss: 0.1696 - rmse: 0.4111 - rmspe: 32.5833 - val_loss: 0.1785 - val_rmse: 0.4220 - val_rmspe: 21.1962
Epoch 27/50
1272/1272 [==============================] - 59s 46ms/step - loss: 0.1677 - rmse: 0.4088 - rmspe: 32.2364 - val_loss: 0.1781 - val_rmse: 0.4215 - val_rmspe: 20.8708
Epoch 28/50
1272/1272 [==============================] - 61s 48ms/step - loss: 0.1663 - rmse: 0.4072 - rmspe: 31.0199 - val_loss: 0.1762 - val_rmse: 0.4192 - val_rmspe: 20.4521
Epoch 29/50
1272/1272 [==============================] - 58s 46ms/step - loss: 0.1660 - rmse: 0.4069 - rmspe: 31.0170 - val_loss: 0.1729 - val_rmse: 0.4153 - val_rmspe: 21.0505
Epoch 30/50
1272/1272 [==============================] - 58s 46ms/step - loss: 0.1647 - rmse: 0.4053 - rmspe: 33.0894 - val_loss: 0.1703 - val_rmse: 0.4122 - val_rmspe: 20.9016
Epoch 31/50
1272/1272 [==============================] - 60s 47ms/step - loss: 0.1631 - rmse: 0.4032 - rmspe: 30.2874 - val_loss: 0.1696 - val_rmse: 0.4113 - val_rmspe: 20.6344
Epoch 32/50
1272/1272 [==============================] - 57s 45ms/step - loss: 0.1623 - rmse: 0.4023 - rmspe: 30.5330 - val_loss: 0.1664 - val_rmse: 0.4074 - val_rmspe: 20.6451
Epoch 33/50
1272/1272 [==============================] - 55s 43ms/step - loss: 0.1623 - rmse: 0.4022 - rmspe: 30.1520 - val_loss: 0.1666 - val_rmse: 0.4076 - val_rmspe: 20.7682
Epoch 34/50
1272/1272 [==============================] - 55s 43ms/step - loss: 0.1606 - rmse: 0.4001 - rmspe: 32.5449 - val_loss: 0.1658 - val_rmse: 0.4067 - val_rmspe: 20.6486
Epoch 35/50
1272/1272 [==============================] - 57s 44ms/step - loss: 0.1597 - rmse: 0.3991 - rmspe: 32.3590 - val_loss: 0.1634 - val_rmse: 0.4036 - val_rmspe: 20.3795
Epoch 36/50
1272/1272 [==============================] - 55s 43ms/step - loss: 0.1586 - rmse: 0.3976 - rmspe: 31.1268 - val_loss: 0.1626 - val_rmse: 0.4027 - val_rmspe: 20.0761
Epoch 37/50
1272/1272 [==============================] - 55s 43ms/step - loss: 0.1577 - rmse: 0.3966 - rmspe: 30.1038 - val_loss: 0.1599 - val_rmse: 0.3993 - val_rmspe: 20.3222
Epoch 38/50
1272/1272 [==============================] - 55s 43ms/step - loss: 0.1568 - rmse: 0.3953 - rmspe: 31.9533 - val_loss: 0.1578 - val_rmse: 0.3967 - val_rmspe: 20.2367
Epoch 39/50
1272/1272 [==============================] - 57s 45ms/step - loss: 0.1564 - rmse: 0.3948 - rmspe: 30.9474 - val_loss: 0.1581 - val_rmse: 0.3970 - val_rmspe: 19.9063
Epoch 40/50
1272/1272 [==============================] - 55s 43ms/step - loss: 0.1553 - rmse: 0.3935 - rmspe: 32.0747 - val_loss: 0.1583 - val_rmse: 0.3973 - val_rmspe: 19.4314
Epoch 41/50
1272/1272 [==============================] - 57s 45ms/step - loss: 0.1545 - rmse: 0.3924 - rmspe: 31.4679 - val_loss: 0.1551 - val_rmse: 0.3933 - val_rmspe: 19.9630
Epoch 42/50
1272/1272 [==============================] - 56s 44ms/step - loss: 0.1546 - rmse: 0.3926 - rmspe: 29.3794 - val_loss: 0.1534 - val_rmse: 0.3911 - val_rmspe: 19.6153
Epoch 43/50
1272/1272 [==============================] - 55s 43ms/step - loss: 0.1533 - rmse: 0.3909 - rmspe: 31.4438 - val_loss: 0.1535 - val_rmse: 0.3912 - val_rmspe: 19.2686
Epoch 44/50
1272/1272 [==============================] - 55s 43ms/step - loss: 0.1530 - rmse: 0.3906 - rmspe: 31.4023 - val_loss: 0.1521 - val_rmse: 0.3894 - val_rmspe: 19.5374
Epoch 45/50
1272/1272 [==============================] - 54s 43ms/step - loss: 0.1524 - rmse: 0.3897 - rmspe: 30.3961 - val_loss: 0.1496 - val_rmse: 0.3861 - val_rmspe: 19.6026
Epoch 46/50
1272/1272 [==============================] - 55s 44ms/step - loss: 0.1514 - rmse: 0.3885 - rmspe: 29.9835 - val_loss: 0.1474 - val_rmse: 0.3833 - val_rmspe: 19.3880
Epoch 47/50

1272/1272 [==============================] - 54s 43ms/step - loss: 0.1508 - rmse: 0.3877 - rmspe: 32.1305 - val_loss: 0.1466 - val_rmse: 0.3823 - val_rmspe: 19.4011
Epoch 48/50
1272/1272 [==============================] - 54s 43ms/step - loss: 0.1504 - rmse: 0.3872 - rmspe: 30.1902 - val_loss: 0.1458 - val_rmse: 0.3813 - val_rmspe: 19.2703
Epoch 49/50
1272/1272 [==============================] - 54s 43ms/step - loss: 0.1498 - rmse: 0.3864 - rmspe: 29.8323 - val_loss: 0.1453 - val_rmse: 0.3805 - val_rmspe: 19.0029
Epoch 50/50
1272/1272 [==============================] - 55s 43ms/step - loss: 0.1492 - rmse: 0.3857 - rmspe: 30.1132 - val_loss: 0.1438 - val_rmse: 0.3786 - val_rmspe: 19.2345

In [35]:
#Function for MSE,RMSE,RMSPE Calculation (Evalutation Metrics)
def show_info(model, X, y, weights = None):

    predictions = model.predict(X, verbose=1)

    mse = mean_squared_error(y, predictions)
    rmse = sqrt(mse)
    rmspe = rmspe_val(y, predictions)

    print('MSE: %.3f' % mse)
    print('RMSE: %.3f' % rmse)
    print('RMSPE: %.3f' % rmspe)
show_info(model,X_test,y_test)

6358/6358 [==============================] - 36s 6ms/step
MSE: 0.144
RMSE: 0.380
RMSPE: 48.512

In [36]:
#Loading test data for prediction and submission.
test_data = load_test_data()

#Loading data because need to access ID variable for submission to kaggle
df_teste = pd.read_csv(r'E:\Documents\University Assignments\NN and DL\Group Project\test.csv')

In [37]:
#Predict test data for submission
predict = model.predict(test_data)

#Convert data from scaler by using inverse transfirmation
predict = scaler_y.inverse_transform(predict)

1284/1284 [==============================] - 8s 6ms/step

In [38]:
#creating new dataframe to put our predicted data
submission = pd.DataFrame()

#ID Variable accessed from reading test data again in above cell and creating dataframe intop format for kaggle submission
submission['Id'] = df_teste["Id"]
submission['Sales'] = predict

#Export predicted data into csv file to upload to kaggle to get result.
submission.to_csv('FINAL_MODEL_Submission.csv', index=False)